body {
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: -apple-system,BlinkMacSystemFont,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
font-size: 16px!important;
color: #1d1d1d;
margin: 0px;
}

.logo {
    height: 32px;
    width: 32px;
}
