<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/assets/img/{{site.favicon}}" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/styles.css">

	<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
</head>

<body>
	{% include header.html %}
	{{ content }}
	{% include footer.html %}
</body>

</html>
